version: '3.8'

services:
  api:
    image: python:3.11-slim
    container_name: locust
    restart: always
    working_dir: /app
    ports:
      - "8089:8089"
    command: |
      sh -c "pip install locust && python -c \"
      from locust import HttpUser, task, between

      class APIUser(HttpUser):
        wait_time = between(1, 3)
        
        @task
        def get_home(self):
            self.client.get(\"/\")
      \""