version: '3.8'

services:
  locust:
    image: locustio/locust:latest
    container_name: locust
    restart: always
    ports:
      - "8089:8089"
    volumes:
      - ./locustfile.py:/home/locust/locustfile.py
    command: -f /home/locust/locustfile.py