version: '3.8'

services:
  locust:
    image: python:3.11-slim
    container_name: locust
    restart: always
    working_dir: /app
    ports:
      - "0.0.0.0:8089:8089"
    command: >
      sh -c "
      apt-get update &&
      apt-get install -y wget &&
      pip install locust &&
      wget https://raw.githubusercontent.com/Sacon217/home-lab/refs/heads/main/docker/exercises/noname/locust/locustfile.py -O /app/locustfile.py &&
      python -m locust -f /app/locustfile.py
      "