version: '3.8'

services:
  locust:
    image: python:3.11-slim
    container_name: locust
    restart: always
    working_dir: /app
    ports:
      - "8089:8089"
    volumes:
      - ./locustfile.py:/app/locustfile.py
    command: sh -c "pip install locust && locust -f locustfile.py"