services:
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    dns:
      - 192.168.100.52
    ports:
      - '3000:3000'
    volumes:
      - grafana-data:/var/lib/grafana
volumes:
  grafana-data:
    driver: local