version: '3.8'

services:
  kong-data-plane:
    image: kong/kong-gateway:3.13
    container_name: kong-gateway
    environment:
      KONG_ROLE: data_plane
      KONG_DATABASE: "off"
      KONG_VITALS: "off"
      KONG_CLUSTER_MTLS: pki
      KONG_CLUSTER_CONTROL_PLANE: "20373eecf7.us.cp.konghq.com:443"
      KONG_CLUSTER_SERVER_NAME: "20373eecf7.us.cp.konghq.com"
      KONG_CLUSTER_TELEMETRY_ENDPOINT: "20373eecf7.us.tp.konghq.com:443"
      KONG_CLUSTER_TELEMETRY_SERVER_NAME: "20373eecf7.us.tp.konghq.com"
      KONG_CLUSTER_CERT: |
        ${KONG_CLUSTER_CERTIFICATE}
      KONG_CLUSTER_CERT_KEY: |
        ${KONG_CLUSTER_CERTIFICATE_KEY}
      KONG_LUA_SSL_TRUSTED_CERTIFICATE: system
      KONG_KONNECT_MODE: "on"
      KONG_CLUSTER_DP_LABELS: "type:docker-linuxdockerOS"
      KONG_ROUTER_FLAVOR: expressions
      KONG_STATUS_LISTEN: "0.0.0.0:8100"
    ports:
      - "8000:8000"
      - "8443:8443"
      - "8100:8100"
    dns:
      - 192.168.100.52
    network_mode: bridge
    restart: always